{% extends "base.html" %}

{% block title %}Home page{% endblock %}






{% block content %}







<div class="container">
    <table class="table-info">
        <h1>
            {% for table in tables%}
            <thead>
                <tr>
                  <th scope="col"><h2>{{titles[loop.index]}}</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th>{{table | safe}}</th>
                </tr>
              </tbody>
            {% endfor %}
        </h1>
    </table>
</div>
{% endblock %}
